In [16]:
import pandas as pd
import numpy as np
import os
import functools as ft
import matplotlib.pyplot as plt
import sklearn

In [17]:
charlie = pd.read_csv('employment_data(2).csv')
yash = pd.read_csv('prag_merged_data.csv')
kyle = pd.read_csv('readyForGroup.csv')
kyle2 = pd.read_csv('censusHousing.csv')
charlie = charlie.rename(columns={'Year': 'year'})

In [18]:
charlie

,year,FIPS,Labor Force Participation Rate(ages 16 and over),Unemployment Rate(ages 16 and over),Below poverty line in last 12 months
0,2022,1001,59.6,2.8,25.9
1,2022,1003,59.0,3.4,40.1
2,2022,1005,44.0,5.8,25
3,2022,1007,50.0,8.7,24.8
4,2022,1009,56.0,6.0,24
...,...,...,...,...,...
3217,2022,72145,44.1,16.3,32.5
3218,2022,72147,34.6,13.1,27.5
3219,2022,72149,42.8,13.9,28.3
3220,2022,72151,37.8,11.1,30.8
3221,2022,72153,39.3,13.5,23.1

In [19]:
kyle.head(1000)

,year,FIPS,popDensityType,analysisValue,% Uninsured,Primary Care Physicians Rate,Dentist Rate,Mental Health Provider Rate,percentVacantHousing,percentOwnerOccupied,percentRenterOccupied
0,2022,1001,Urban,588,9.351239,44.74753,33.84095,37.40315,NaN,NaN,NaN
1,2022,1003,Rural,608,10.906774,68.98591,48.84708,99.43869,NaN,NaN,NaN
2,2022,1005,Rural,747,12.991473,36.45791,36.60173,24.40115,NaN,NaN,NaN
3,2022,1007,Urban,593,10.993250,58.05126,27.10517,27.10517,NaN,NaN,NaN
4,2022,1009,Urban,601,14.271027,22.48124,19.00517,17.27742,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
995,2022,21019,Urban,690,7.080815,109.16563,70.94333,778.22685,NaN,NaN,NaN
996,2022,21021,Rural,602,6.563048,66.53360,79.03316,250.27168,NaN,NaN,NaN
997,2022,21023,Urban,559,7.351431,24.08768,24.13710,24.13710,NaN,NaN,NaN
998,2022,21025,Rural,880,7.777445,55.42359,15.93625,247.01195,NaN,NaN,NaN
999,2022,21027,Rural,534,8.876034,24.41764,14.60778,97.38521,NaN,NaN,NaN

In [20]:
yash

,FIPS,year,Less than 50k,"50k to 99,999","100k to 149,999",Over 150k,Total not grad HS,Total grad HS,Total Associates,Total Bachelors,...,Female 55 yrs and over,county,state,urban,analysis_value,State,County,PCP per 1000,Dentists per 1000,MHP per 1000
0,1003,2019,0.451,0.274,0.160,0.115,NaN,NaN,NaN,NaN,...,NaN,Baldwin County,ALABAMA,Rural,602.0,Alabama,Baldwin,NaN,49.85232,118.21522
1,1015,2019,0.512,0.309,0.129,0.050,NaN,NaN,NaN,NaN,...,NaN,Calhoun County,ALABAMA,Urban,658.0,Alabama,Calhoun,NaN,64.50038,37.40315
2,1043,2019,0.489,0.373,0.086,0.053,NaN,NaN,NaN,NaN,...,NaN,Cullman County,ALABAMA,Rural,629.0,Alabama,Cullman,NaN,48.33545,99.43869
3,1049,2019,0.557,0.296,0.110,0.037,NaN,NaN,NaN,NaN,...,NaN,DeKalb County,ALABAMA,Rural,669.0,Alabama,DeKalb,NaN,25.13370,24.40115
4,1051,2019,0.391,0.324,0.163,0.122,NaN,NaN,NaN,NaN,...,NaN,Elmore County,ALABAMA,Urban,645.0,Alabama,Elmore,NaN,14.69202,27.10517
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2524,72113,2022,0.853,0.113,0.026,0.006,0.103954,0.449606,0.069200,0.366229,...,0.227962,Ponce Municipio,PUERTO RICO,Urban,406.0,NaN,NaN,NaN,NaN,75.63459
2525,72127,2022,0.715,0.167,0.060,0.059,0.070624,0.252405,0.080180,0.548250,...,0.255485,San Juan Municipio,PUERTO RICO,Urban,373.0,NaN,NaN,NaN,NaN,132.31631
2526,72135,2022,0.540,0.343,0.078,0.037,0.052730,0.660033,0.113069,0.421429,...,0.184512,Toa Alta Municipio,PUERTO RICO,Urban,347.0,NaN,NaN,NaN,NaN,8.05575
2527,72137,2022,0.746,0.184,0.045,0.025,0.063966,0.625110,0.109130,0.385442,...,0.301076,Toa Baja Municipio,PUERTO RICO,Urban,349.0,NaN,NaN,NaN,NaN,285.68524
2528,72139,2022,0.688,0.200,0.043,0.070,0.037868,0.569296,0.059897,0.415716,...,0.169159,Trujillo Alto Municipio,PUERTO RICO,Urban,385.0,NaN,NaN,NaN,NaN,27.65869

In [21]:
kyle2

,FIPS,year,percentVacantHousing,percentOwnerOccupied,percentRenterOccupied
0,1015,2022,14.430422,61.537597,24.031980
1,1043,2022,9.843832,70.724187,19.431981
2,1049,2022,14.708916,62.033396,23.257688
3,1051,2022,8.876642,69.897536,21.225822
4,1055,2022,16.132824,61.441585,22.425591
...,...,...,...,...,...
3361,72113,2018,18.145760,55.642506,26.211734
3362,72127,2018,22.726533,41.961077,35.312390
3363,72135,2018,18.583702,65.758298,15.657999
3364,72137,2018,25.034487,57.046787,17.918726
3365,72139,2018,20.819963,53.403427,25.776610

In [25]:
groupDataSet = pd.merge(yash, charlie, on=['year', 'FIPS'], how='left')

groupDataSet = pd.merge(groupDataSet, kyle2, on=['year', 'FIPS'], how='left')

In [26]:
groupDataSet

,FIPS,year,Less than 50k,"50k to 99,999","100k to 149,999",Over 150k,Total not grad HS,Total grad HS,Total Associates,Total Bachelors,...,County,PCP per 1000,Dentists per 1000,MHP per 1000,Labor Force Participation Rate(ages 16 and over),Unemployment Rate(ages 16 and over),Below poverty line in last 12 months,percentVacantHousing,percentOwnerOccupied,percentRenterOccupied
0,1003,2019,0.451,0.274,0.160,0.115,NaN,NaN,NaN,NaN,...,Baldwin,NaN,49.85232,118.21522,NaN,NaN,NaN,31.065522,54.676157,14.258321
1,1015,2019,0.512,0.309,0.129,0.050,NaN,NaN,NaN,NaN,...,Calhoun,NaN,64.50038,37.40315,NaN,NaN,NaN,17.047334,58.501366,24.451300
2,1043,2019,0.489,0.373,0.086,0.053,NaN,NaN,NaN,NaN,...,Cullman,NaN,48.33545,99.43869,NaN,NaN,NaN,16.117733,63.556043,20.326223
3,1049,2019,0.557,0.296,0.110,0.037,NaN,NaN,NaN,NaN,...,DeKalb,NaN,25.13370,24.40115,NaN,NaN,NaN,21.280769,56.296273,22.422958
4,1051,2019,0.391,0.324,0.163,0.122,NaN,NaN,NaN,NaN,...,Elmore,NaN,14.69202,27.10517,NaN,NaN,NaN,10.930657,66.306082,22.763261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2524,72113,2022,0.853,0.113,0.026,0.006,0.103954,0.449606,0.069200,0.366229,...,NaN,NaN,NaN,75.63459,37.7,12.7,27.4,19.531216,53.451143,27.017642
2525,72127,2022,0.715,0.167,0.060,0.059,0.070624,0.252405,0.080180,0.548250,...,NaN,NaN,NaN,132.31631,52.3,15.7,36.5,19.738722,41.296659,38.964619
2526,72135,2022,0.540,0.343,0.078,0.037,0.052730,0.660033,0.113069,0.421429,...,NaN,NaN,NaN,8.05575,51.3,8.6,32.1,13.051612,65.635890,21.312498
2527,72137,2022,0.746,0.184,0.045,0.025,0.063966,0.625110,0.109130,0.385442,...,NaN,NaN,NaN,285.68524,52.3,11.3,35.9,20.790932,52.618516,26.590552
2528,72139,2022,0.688,0.200,0.043,0.070,0.037868,0.569296,0.059897,0.415716,...,NaN,NaN,NaN,27.65869,53.0,6.5,45.3,6.393515,66.490033,27.116452

In [27]:
groupDataSet.to_csv('groupDataSet.csv', index=False)

FIPS- A code used to identify counties
Year-A way to identify which year data came from
Less than 50k-a percentage of people that have an income less than
50k 
50k to 99,999- a percentage of people that have an income between
50k and $99,999
100k to 149,999- a percentage of people that have an income between
100k and $149,999
Over 150k- a percentage of people that have an income over 150k

The above income statistics could prove useful as our hypothesis is that higher income individuals will
have better access to care.

Total not grad HS- a percentage of people that haven’t graduated high
school
Total grad HS- A percentage of people that have graduated high school,
but have not received degrees
Total Associates- percentage of people that have received associate
degrees
Total Bachelors- percentage of people that have received bachelor
degrees
Total Professional or Graduate Degrees- percentage of people that
have received professional or graduate degrees

The above education statistics could prove useful as we hypothesize that higher educated areas are more likely
to have high access to care

Total White alone- a percentage of people that are mainly/ only white
Total Black or African American alone- a percentage of people that are
mainly/ only black
Total American Indian and Alaska Native alone- a percentage of
people that are mainly/ only American Indian or an Alaska native
Total Asian alone- a percentage of people that are mainly/ only asian
Total Native Hawaiian and Other Pacific Islander alone- a percentage
of people that are mainly/ only a native Hawaiian or other pacific
islander
Total Some other race alone- a percentage of people that are mainly/
only a different race not mentioned above
Total Two or more races- a percentage of people that are at least 2 of
the mentioned races

The above race statistics could prove useful in understanding if access to care is a racially biased issue.

Under 25 years- The percent of people under 25 years old that have
insurance
26 to 54 years- The percent of people between 26 and 54 years old that
have insurance
Over 55 years- The percent of people over 55 years old that have
insurance
Male under 20 yrs- the percent of people under 20 years that are also
male
Male 20 to 54 yrs- the percent of people 20 to 54 years that are also
male
Male 55 yrs and over- the percent of people over 55 years that are also
male
Female under 20 yrs- the percent of people under 20 years that are
also female
Female 20 to 54 yrs- the percent of people under people 20 to 54 years
old that are also female.
Female 55 yrs and over- the percent of people over 55 years that are
also female.

The above age statsitcs could help us determine the age and gender range most likely to have poor/good access to care.

County- The county corresponding to the FIPS code
State-The state that contains the counties
Urban- signifies if the county is mainly rural, suburban, or urban
analysis_value- a number that quantifies the quality of a emergency
department
PCP per 1000- the primary care provider rate per 1000
Dentists per 1000- the dentist rate per 1000
MHP per 1000- the mental health provider rate per 1000
percentVacantHousing - This could prove useful as vacant housing could indicate a unique socioeconomic situation in that county which could have an impact on access to care
percentOwnerOccupied - More owners occuping homes is indicative of wealth which could have an impact. Also more stable housing means more likely to be able to schedule proper appointments
percentRenterOccupied - pretty much the same as above but reversed.